<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Головна - Lab 3</title>
  </head>
  <body>
    <h1>Вітаємо у системі перекладу (Lab 3)!</h1>
    <p>Оберіть потрібний розділ:</p>
    <ul>
      <li><a href="/languages">Перегляд доступних мов</a></li>
      <li><a href="/dictionaries">Перегляд словників</a></li>
      <li><a href="/translations">Сторінка перекладу</a></li>
      <li><a href="/words">Сторінка слів</a></li>
    </ul>

    <hr />
  </body>
</html>
