<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Студент</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Сторінка студента</h1>

    <h2><%= name %></h2>

    <a href="/">Назад до головної сторінки</a>
</body>
</html>